
@media (max-width: 1199px) {
    .top-menu a {
        padding: 10px;
    }

    .single-hero-item .title {
        font-size: 80px;
    }

    h2.section-heading {
        font-size: 43px;
    }

    .social-widget a {
        font-size: 25px;
        width: 50px;
        height: 45px;
        line-height: 45px;
    }

    .footer-last-widget .site-btn {
        padding: 9px 13px;
    }

    .social-widget {
        align-items: center;
    }
}

@media (max-width: 991px) {
    .copyright-text {
        text-align: center;
        margin-top: 50px;
    }

    .copyright-text .text-right {
        text-align: center !important;
        margin-top: 5px;
    }

    .footer-area {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 375px) {
    
}

@media (max-width: 320px) {
    
}
